<!DOCTYPE html>
<html>

<body>


<div class="text-center">
    <h1 class="display-4">Welcome to JustTip</h1>

    <button id="addEmployeeButton">Add Employee</button>

<script>
    document.getElementById("addEmployeeButton").onclick = function () {
        window.location.href = '/Main/Index';  // Redirect to EmployeeController's Index action
    };
</script>
    
</div>
</body>

</html>
