<!DOCTYPE html>
<html>

<body>


<div class="text-center">
    <h1 class="display-4">Welcome to JustTip</h1>
    <label for="">Username : </label>
    <input type="text" id="EmployeeName" name="EmployeeName" required />
    <label for="">Password</label>
    <input type="password" id="EmployeeName" name="EmployeeName" required />

    <button id="Login">Login</button>

<script>
    document.getElementById("Login").onclick = function () {
        window.location.href = '/Main/Index';  // Redirect to MainController's Index action
    };
</script>
</div>
</body>

</html>
